NSE__Weekly.db
/walk_forward_results/
/ohlc_weekly_data/
/PDFs/
/hmm_training_results/
.env
.ini
/OB_plots/
/OB_plots_v1/
/plots/
/plots_data/
/hourly_data/
/env/
/Coc_OB/
/daily_data_nse/
/__pycache__/
/daily_data_nse
/daily_data_qaurterly
/min_data_quarterly
/BSE
/temp